{% if form.errors %}
<p>Имя пользователя или пароль введены неверно. Повторите ввод, пожалуйста.</p>
{{ form.errors }}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<p>Авторизуйтесь, пожалуйста, для использования ресурса</p>
<table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
</tr>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>